.box{
    width:98%;
    margin: 10px;
    height: 120px;
    background-color: aliceblue;
  }
  .button{
    display: flex;
   align-items: center;
   justify-content: center;
  }
  .post{
    background-color: burlywood;
    margin: 30px;
    height: 50px;
    border-radius: 35px;
    width: 70px;
  
  }
  .reset{
    background-color: burlywood;
    height: 50px;
    border-radius: 35px;
    width: 70px;
   
  }
  